@import url(./fonts.css);
:root
{
    --NeutralGray-1 : #E9EAEE;
    --blue : #0D6EFD;
    --yellow : #FFD24D;
    --white : #FFFFFF;
    --dark : #3B3735;
    --app-bg :#FAF4F2;
    --dark-btn : #8D8D8D;
    --newsletter-color: #F8E1DB;
    --pink: #eb88ff;
}

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 62.5%; 
    scroll-behavior: smooth;
}
*,*::after,*::before
{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body
{
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: "Iranian-Sans";
    background-color: var(--white);
}
*{
    font-family: "Iranian-Sans";
}


a{
    text-decoration: none; 
    cursor: pointer;
}
.header{
    margin-top:30px;
    font-family: "Iranian-Sans";
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  
}
.main_header_top{
    direction: rtl;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_header_content_bottom{
    text-align: right;
}

.main_header_buttons{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
.main_header_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 35px;
}

.main_header_content_input{
    font-family: "Iranian-Sans";
    font-size: 18px;
    text-align: right;
    background-color: var(--NeutralGray-1);
    width: 439px;
    height: 48px;
    border-radius: 12px;
    padding: 12px;
    gap: 8px;

}
.main_header_content_image{
    
    width: 198.78px;
    height: 24px;
    gap: 10rem;
}
.main_header_top_left{
    display: flex;
    justify-content: center;
align-items: center;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Iranian-Sans";
    font-size: 14px;
    line-height: 180%;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 12px;
    border: 1px;
    padding-left: 16px;
    padding-right: 16px;
    width: 184px;
    height: 48px;
    gap: 8px;
    cursor: pointer;

}
.main-caontent{
    margin-top: 80px;
    margin-bottom: 80px;
}
.menu_list{
    cursor: pointer;
    display: flex;
    direction: rtl;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
    

}
.header_menu_item{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    font-family: "Iranian-Sans";
    
}
.header-menu-content{
    font-family: "Iranian-Sans";
     text-align: center;
    justify-content: center;
    margin-top: 20px;
}
.button-menu-content{
    display: flex;
    justify-content: center;

    gap: 2rem;
}
.btn_with{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Iranian-Sans";    
    font-size: 14px;
    line-height: 180%;
    color: var(--dark);
    background-color: var(--white);
    border-radius: 12px;
    border: 1px;
    padding-left: 16px;
    padding-right: 16px;
    width: 184px;
    height: 48px;
    gap: 8px;
    border: 2px solid var(--dark);
}
.content-title{
    font-size: 50px;
}

.services{
    
    display: flex;
    justify-content: center;
    
}
.service{
    padding-left: 8rem;
    padding-right: 8rem;
    align-items: center;
    gap: 20px;
    display: flex;
    direction: rtl;
}
.circle{
    
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #FFD24D;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile-card {
   
    border: 1px solid #CBCED7;
    background: #ffffff;
    border-radius: 25px;
    width: 288px;
    height: 430px;
    text-align: center;
    
}
.top-main{
      margin-top: 60px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.stats {
    margin: 15px ;
    display: flex;
    gap: 10px;
}

.stats div {
    font-size: 14px;
    margin: 5px 0;
}

.description {
    color: #555;
    margin: 15px 0;
    font-size: 14px;
    line-height: 1.5;
}
.company-logo{
   display: flex;
   justify-content: center;
   align-items: center;
}
.company-image{
    display: flex;
  direction: rtl;
  align-items: center;
  justify-content: center;
  margin-top: -17px;
  gap: 10px;
}
.text-main-card{
    border: 1px solid var(--dark-btn);
    border-radius: 10px;
}
.main-cards{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}
.top-main-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    z-index: 2;
}
.category__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 7;
    margin: 0 auto;
    width: 80%;
}
.line{
    background-color: #CBCED7;
    width: 80%;
    height:2px;
    display: block;
}
.top-category{
    font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
direction: rtl;
gap: 10px;
}

.category-items>div>img{
    border-radius: 50%;
    border: 2px solid #0D6EFD;
    width: 50px;
    height: 50px;
}
.category-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
   direction: rtl;
   

}


.category-items > div{
    display: flex;
    flex-direction: column;
    justify-content: centern;
    align-items: center;
    flex: 30%;   
}
.image-card{
    width: 392px;
    height: 269;
    
}
.image-card>p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-card-cuntent{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category{
    margin-bottom: 100px;
}
.footer{
    background-image: url(/images/footer.png);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    direction: rtl;

}
.footer-right{
    direction: rtl;
    margin-top: 50px;
    margin-left: 50px;
    
}
.input-footer{
    width: 400px;
    height: 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-right: 20px;
}
.footer-left{
    margin-top: 50px;
    margin-right: 50px; 
   
}
.left-top{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.lef-botton > p{
    max-width: 55rem;
}
.footer-copyright{
    color: var(--white);
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00183d;
    height: 50px;
}
.right-botton{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.input-footer-button{
    width: 70px;
    height: 30px;
    border-radius: 30px;
    background-color: #0D6EFD;
    border: none;
    color: var(--white);
    margin: 1px 1px 2px 2px;

}
.footer-input{
    background-color: var(--white);
    border-radius: 20px;
}

.f-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5rem;
}

.f-bottom{
    width: 100%;
}

footer h5{
    font-size: 20px;
}

footer div > p{
    font-size: 13px;
}

.main-cards{
    overflow: hidden;
}
.section-cards{
    overflow: hidden;

}
.image-right-botton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.job-card{
    padding-top: 40px;
    width: 216px;
    height: 189px;
    background-color: #F6F6F6;
    border-radius: 20px;
}

.main-job-cards{
    direction: rtl;
    width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}
.image-job-card{
margin-right: 22px;    
    width: 72px;
    height: 72px;
  
}
.main-job-card{
    text-align: center;
}
.line-job{
    width: 50px;
    height: 1px;
    color: #8D8D8D;
}
.top-job{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-job{
    width: 216px;
    height: 213px;

}
.main-job-card>p1{
    color: #0D6EFD;
}
.job-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-Latest-news{
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    direction:rtl;
    margin-top: 100px;
    background-image: url(/images/Tooltip.png);
    background-size: cover;
  background-position: center;
}
.top-latest-news{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    margin-left: 100px;
  margin-right: 100px;
}
.card-latest-news{
    width: 392px;
    height: 418px;
    background-color: var(--white);
    border-radius: 24px;
}
.latest-news{
    width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  direction: rtl;
  
}
.main-card-latest-news{
    padding-right: 20px;
  padding-left: 20px;

}
.card-latest-news>img{
    width: 392px;
    height: 194px;
    
}

.main-card-latest-news>p{
    font-size: 12px;
    color: #737993;
}
.main-card-latest-news>p1{
    font-size: 16px;
    color: #444859;
}
.main-card-latest-news>p2{
    font-size: 14px;
    color: #737993;
}
.news-bottom-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}
.card-latest-news-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news-bottom-image>p{
    font-size: 14px;
    color: #9095AA;
}
.all-cards-news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.event-card{
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    width: 600px;
    height: 208px;
    border: 1px solid #CBCED7;
    border-radius: 24px;
    
}
.event-card-left-bottm-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-card-left-bottm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-card-left{

    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
.event-card-left>h4{
    font-size: 20px;
}
.event-card-left>p{
    color: #737993;
}
.event-card-left-bottm>div>p{
    font-size: 12px;
    color:#737993;
}
.events-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.events-bottom{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.event-card-right{
    width: 242px;
    height: 208px;
}
.events{
    margin-top: 100px;
}
.top-right-image{
    position: absolute;
    direction: ltr;
    margin-left: 920px;
    margin-top: -120px;
    z-index: 5;
    
}
.top-left-image{
       position: absolute;
  margin-top: -200px;
    z-index: 5;  
}
.services{
      margin-top: 150px;
}
.news-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.profilr-card-bottom{
    direction: rtl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}
.profilr-card-bottom-left{
      display: flex;
    justify-content: center;
    align-items: center;
}
.all-cards{
    
    background-size: cover;
    background-position: center;
}
.main-searsh-page{
    direction: rtl;

}

    
.main-list-menu{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 80px;
    margin-left: 200px;
}
.top-main-searsh-page>h2{
    font-size: 32px;
    margin-right: 35px;
}
.bottom-search-page{
    
    background-color: #F3F5F6;
}
.titlebar{
    
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-right: 30px;
    padding-left: 30px;
}
.titlebar-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    
}
.titlebar-right>p{
    color: #0D6EFD;
    font-size: 16px;
    cursor: pointer;
}
.main-bottom-search-page{
    padding-top: 10px;
    padding-bottom: 80px;
}
.sidebar-item{
background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 5px;
}
.sidebar-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
}
.border-helper{
    border-bottom-left-radius:16px ;
    border-bottom-right-radius:16px ;
}
.main-list-item{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.section-cards{
    background-image: url(../images/footer.png);
    background-size: cover;
}
